


[data-dropdown]{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 33px;
    background: #E54;
    border: 2px solid #333;
    z-index: 200;
    
}
[data-dropdown] .dropdown-menu{
    display: none;
}
[data-dropdown]:hover .dropdown-menu, 
[data-dropdown].active .dropdown-menu {
    display: block;
    animation: show-up .3s forwards;
}
@keyframes show-up{
    from{
        opcity:0;
        transform: translate3d(0,30px,0);
        
    }
    to{opacity: 1;
    transform: translate3d(0,0,0);}
}
.dropdown-menu :hover{
color: white;
}
.dropdown-menu::before{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent ;
    border-bottom: 10px solid #E54;
    top: -10px;
}